@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --main: #909090;
    --main-red: #d72929;
}

html {
    font-size: 25px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

button {
    width: 90px;
    padding: 3px;
    background: white;
    border: 1px solid black;
    transition: all 115ms ease-in;
    cursor: pointer;
}

h1 {
    font-family: 'Damion', cursive;
    font-size: 3.5rem;
    font-style: normal;
    /* letter-spacing: px; */
}

i {
    font-size: 2.5rem;
}

/* header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > div {
    border: 3px solid gold;
    border-radius: 7px;
}

i, h1, .magic-screen, .og {
    color: gold;
}

.magic-screen {
    margin: 0 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    letter-spacing: 2px;
}

.fa-globe {
    color: var(--main-red);
}

.og {
    margin: 2.7rem 5px 0;
}

.og.second {
    margin: 0 0 1.4rem 5px;
    font-size: 1.3rem;
}

/* container */
.container {
    margin: 1rem auto;
    width: 53rem;
    padding: 30px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-red);
    border-radius: 50px;
}

.container-display {
    width: 40rem;
    height: 20rem;
    margin: 20px 0 15px;
    display: grid;
    background: white;
    border: 2px solid var(--main);
}

.container-display > div {
    border: 1px solid white;
}

/* color */
input[type='range'] {
    appearance: none;
    width: 20rem;
    margin: 10px 0 15px;
    border-radius: 25px;
    background: #b02222;
}

input[type='range']::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 2px solid var(--main);
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

#grid-range > p {
    margin: 0 auto;
    padding: 2px 0;
    width: 4rem;
    color: #5e5e5e;
    text-align: center;
    border: 3px solid #b02222;
    border-radius: 10px;
    background: white;
}

#preferences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#default-btn {
    color: white;
    background: green;
}

#clear-btn {
    transition: all 30ms ease-out;
}

#clear-btn:active {
    color: white;
    background: red;
}
