* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --border-width: 1px;
    --display-wh: 336px;
}

.container-display {
    width: 700px;
    height: 700px;
    color: white;
    background: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid gray;
}

.container-display > div {
    /* width: calc(100% / 20); */
    /* height: calc(100% / 20); */
    flex: 1 1 auto;
    border: 1px solid gray;
    background-color: white;
    transition: all 30ms linear;
}